:root {
  --main-color: rgb(54, 136, 207);
  --text-white: #fcfcfcf2;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  min-height: 100vh;
  background-color: rgb(228, 228, 228);
  grid-template-columns: min-content 4fr;
  grid-template-rows: min-content 3fr;
}
.sidebar {
  background-color: var(--main-color);
  grid-row: 1 /-1;
  color: var(--text-white);
  padding: 1rem;
}

.sidebar > ul {
  margin: 0;
  padding: 1rem;
}

.sidebar > ul > li {
  list-style-type: none;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.7rem;
  transition: opacity 0.15s;
}

.sidebar > ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.7;
}

.header {
  background-color: rgb(253, 253, 253);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar > input {
  background-color: rgb(235, 235, 235);
  height: 2rem;
  border-style: none;
  border-radius: 50px;
  width: min(500px, 100%);
}

.account {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 800;
  gap: 2rem;
}

.profile-picture {
  width: 50px;
  border-radius: 100%;
}

.icon {
  width: 1.3rem;
  fill: white;
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: end;
  align-items: center;
}
.buttons > button {
  background-color: var(--main-color);
  color: var(--text-white);
  border-style: none;
  padding: 1rem 2rem;
  max-height: 3rem;
  border-radius: 50px;
  font-weight: 600;
  transition: opacity 0.15s;
}

.buttons > button:hover {
  opacity: 0.9;
}

.welcome-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.welcome-info > .profile-picture {
  width: 100px;
}

.welcome-name > p {
  margin: 0;
}

.welcome-name {
  font-weight: 600;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main-left {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 1.5rem;
}
.main-left > div {
  padding: 1rem;
  background-color: var(--text-white);

  border-radius: 10px;
  border-left: 10px solid rgb(255, 191, 54);
}

.main-right {
  padding: 1rem;
}

.announcements {
  background-color: var(--text-white);
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.announcements ~ div {
  background-color: var(--text-white);
  border-radius: 10px;
  padding: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .main-content {
    display: block;
  }
  .main-right {
    display: none;
  }
  .welcome-info {
    display: none;
  }
}
